body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

#warning, #securityInfo {
    font-weight: bold;
    margin-top: 10px;
}

#warning {
    color: red;
}

#securityInfo {
    color: blue;
}
